.DS_Store
lextab.py
yacctab.py
__pycache__/

# ignore the built python zipapp.
/chapter_*/jpcc

# only keep .c files in the c dirs.
/misc/c/*
!/misc/c/*.c

# only keep .s files in the s dirs.
/misc/s/*
!/misc/s/*.s
